<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Journal Registration</title>
</head>
<body>
	<h1>Register a New Journal</h1>
	    
	    <form action="#" th:action="@{/journal/new}" th:object="${journal}" method="post">
	        <label for="date">Date:</label>
	        <input type="date" id="date" th:field="*{date}" /><br><br>
	        
	        <label for="title">Title:</label>
	        <input type="text" id="title" th:field="*{title}" /><br><br>
	        
	        <label for="content">Content:</label>
			<textarea id="content" th:field="*{content}"></textarea><br><br>
	        
	        <button type="submit">Register</button>
	    </form>

	    <a th:href="@{/journal/index}">Go to Journal List</a>
</body>
</html>